{% extends 'base.html.twig' %}

{% block body %}
    <div class = "jumbotron">
        <br> AGENCE IMMOBILIERE :</br>
        <br> ACCESS LOCATION / AGENCE DE VENTES & LOCATIONS D'APPARTEMENTS</br>
    </div>
    
<div class="container">

</div>
{% endblock %}