{% extends 'base.html.twig' %}

{% block title %}Liste des Biens!{% endblock %}

{% block body %}

<div class = "jumbotron">
       <article>
            <h2> NOUVEL ARTICLE </h2>
            <div class = "metadata"> 
                <p>Ecrit le:  21/10/2019 </p>
                <p> Dans la Categorie: </p>
            </div>

             <div class = "content">

                 
                  
            </div>          
       </article>      

    
<div class="container">
On Demarre
</div>

{% endblock %}